<div class="row">
  <div class="span8">
    <h3>List of Chambers</h3>
    <br><br>
    <% if @all_chambers.count != 0 %>
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Number</th>
          <th>Substance</th>
          <th>Type</th>
        </tr>
        <% @all_chambers.each do |c| %>
          <% if c.substance == "" %>
            <% display = "Empty" %>
          <% else %>
            <% display = c.substance %>
          <% end %>
          <tr>
            <td><%= c.id %></td>
            <td><%= display %></td>
            <td><%= c.kind %></td>
            <td><%= link_to "Update", edit_chamber_path(c.id), :class => 'btn btn-primary' %>
                <%= link_to "Empty", empty_chamber_path(c.id), :class => 'btn btn-success' %></td>
          </tr>
        <% end %>
        </tr>
      </table>
      <div class="flickr_pagination">
        <%= will_paginate @all_chambers, :previous_label => "← Previous&nbsp;", :next_label => "&nbsp;Next →" %>
      </div>
  
    <% else %>
      <h4>There are currently no chambers</h4>
    <% end %>
  </div>
</div>  